<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Login</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2>Login</h2>
            <form th:action="@{/api/login}" th:object="${loginForm}" method="post">
                <label for="username">Username or Email:</label><br>
                <input type="text" id="username" th:field="*{username}"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" th:field="*{password}"><br><br>
                <input type="submit" value="Login">
            </form>
            <a href="/oauth2/authorization/google">Login with Google</a>
            <div>
                <p><a th:href="'/api/register/form?lang=' + ${language.code.toString()}">Register</a></p>
            </div>
            <div th:if="${param.error}">
                <p>Invalid username, email or password.</p>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
