<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Registration Form</title>
    <style>
        .weak-password {
            border: 2px solid red;
        }
        .medium-password {
            border: 2px solid yellow;
        }
        .strong-password {
            border: 2px solid green;
        }
        .valid-input {
            border: 2px solid green;
        }
        .invalid-input {
            border: 2px solid red;
        }
        .disabled-button {
            background-color: grey;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2 th:text="#{auth.register.title}">User Registration</h2>
            <form th:action="@{/api/register}" th:object="${user}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div th:if="${errorMessage}" style="color: red;">
                    <p th:text="${errorMessage}"></p>
                </div>
                <label for="username" th:text="#{auth.register.usernameLabel}">Username:</label><br>
                <input type="text" id="username" name="username" th:field="*{username}" required><br>

                <label for="password" th:text="#{auth.register.passwordLabel}">Password:</label><br>
                <input type="password" id="password" name="password" th:field="*{password}" oninput="checkPasswordStrength()" required>
                <div id="password-strength"></div><br>

                <label for="email" th:text="#{auth.register.emailLabel}">Email:</label><br>
                <input type="email" id="email" name="email" th:field="*{email}" required><br>

                <label for="firstName" th:text="#{auth.register.firstNameLabel}">First Name:</label><br>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" oninput="validateName(this)" required><br>

                <label for="lastName" th:text="#{auth.register.lastNameLabel}">Last Name:</label><br>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" oninput="validateSurname(this)" required><br>

                <label for="birthDate" th:text="#{auth.register.birthDateLabel}">Birth Date:</label><br>
                <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" required><br><br>

                <label for="phoneNumber" th:text="#{auth.register.phoneNumberLabel}">Phone Number:</label><br>
                <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"><br>

                <label for="address" th:text="#{auth.register.addressLabel}">Address:</label><br>
                <input type="text" id="address" name="address" th:field="*{address}"><br><br>

                <label for="gender" th:text="#{auth.register.genderLabel}">Gender:</label><br>
                <select id="gender" name="gender" th:field="*{gender}" required>
                    <option value="" selected="selected" th:text="#{auth.register.genderSelect}">Select your gender</option>
                    <option value="MALE" th:text="#{auth.register.genderMale}">Male</option>
                    <option value="FEMALE" th:text="#{auth.register.genderFemale}">Female</option>
                </select><br><br>

                <label for="imageData" th:text="#{auth.register.imageDataLabel}">Profile Image:</label><br>
                <input type="file" id="imageData" name="imageData" accept="image/jpeg,image/png,image/jpg"><br><br>

                <input type="checkbox" id="termsCheckbox" onclick="toggleSubmitButton()">
                <label for="termsCheckbox" th:text="#{auth.register.termsCheckbox}">I have read and agree to the <a th:href="'/documents?lang=' + ${#locale.language} +'&name=termsandconditions'" target="_blank">terms and conditions</a></label><br><br>

                <input type="submit" id="submitButton" th:value="#{auth.register.submitButton}" disabled>
            </form>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    let disableValidation = true;  // Set to true to disable validation for testing

    function checkPasswordStrength() {
        const password = document.getElementById('password').value;
        const strengthIndicator = document.getElementById('password-strength');
        const strength = getPasswordStrength(password);

        strengthIndicator.className = '';
        if (strength === 'weak') {
            strengthIndicator.textContent = 'Weak';
            strengthIndicator.classList.add('weak-password');
        } else if (strength === 'medium') {
            strengthIndicator.textContent = 'Medium';
            strengthIndicator.classList.add('medium-password');
        } else if (strength === 'strong') {
            strengthIndicator.textContent = 'Strong';
            strengthIndicator.classList.add('strong-password');
        } else {
            strengthIndicator.textContent = '';
        }
    }

    function getPasswordStrength(password) {
        if (disableValidation) return 'strong';

        let strength = 'weak';
        if (password.length >= 8) {
            const hasNumbers = /\d/.test(password);
            const hasSpecialChars = /[!@#$%^&*(),.?":{}|<>]/.test(password);
            const hasUpperCase = /[A-Z]/.test(password);

            if (hasNumbers && hasSpecialChars && hasUpperCase) {
                strength = 'strong';
            } else if ((hasNumbers && hasSpecialChars) || (hasNumbers && hasUpperCase) || (hasSpecialChars && hasUpperCase)) {
                strength = 'medium';
            }
        }

        return strength;
    }

    function validateName(input) {
        const regex = /^[A-Z][a-z]*$/;
        if (disableValidation || regex.test(input.value)) {
            input.classList.add('valid-input');
            input.classList.remove('invalid-input');
        } else {
            input.classList.add('invalid-input');
            input.classList.remove('valid-input');
        }
    }

    function validateSurname(input) {
        const regex = /^[A-Z][a-z]*(?:-[A-Z][a-z]*)*$/;
        if (disableValidation || regex.test(input.value)) {
            input.classList.add('valid-input');
            input.classList.remove('invalid-input');
        } else {
            input.classList.add('invalid-input');
            input.classList.remove('valid-input');
        }
    }

    function validateForm() {
        if (disableValidation) return true;

        const firstName = document.getElementById('firstName');
        const lastName = document.getElementById('lastName');
        const password = document.getElementById('password');

        validateName(firstName);
        validateSurname(lastName);
        checkPasswordStrength();

        return firstName.classList.contains('valid-input') && lastName.classList.contains('valid-input') && getPasswordStrength(password.value) === 'strong';
    }

    function toggleSubmitButton() {
        const termsCheckbox = document.getElementById('termsCheckbox');
        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = !termsCheckbox.checked;
    }
</script>
</body>
</html>
