<!--
Author: Tomasz Zbroszczyk
Date: 13.06.2024
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Newsletter</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2 th:text="#{general.join.newsletter.title}">Newsletter</h2>

            <p th:text="#{general.join.newsletter.description}">Stay informed with our latest updates, promotions, and news by subscribing to our newsletter.</p>

            <form action="#" method="post" class="newsletter-form">
                <label for="email" th:text="#{general.join.newsletter.subscribeLabel}">Subscribe to our Newsletter:</label><br>
                <input type="email" id="email" name="email" th:placeholder="#{general.join.newsletter.your_email}" required>
                <button type="submit" th:text="#{general.join.newsletter.subscribeButton}">Subscribe</button>
            </form>

            <div class="newsletter-benefits">
                <h3 th:text="#{general.join.newsletter.benefitsTitle}">Newsletter Benefits</h3>
                <ul>
                    <li><strong th:text="#{general.join.newsletter.benefit1Title}">Exclusive Offers:</strong> <span th:text="#{general.join.newsletter.benefit1Description}">Receive special offers and discounts directly in your inbox.</span></li>
                    <li><strong th:text="#{general.join.newsletter.benefit2Title}">Latest Updates:</strong> <span th:text="#{general.join.newsletter.benefit2Description}">Stay updated with our latest products, events, and company news.</span></li>
                    <li><strong th:text="#{general.join.newsletter.benefit3Title}">First Access:</strong> <span th:text="#{general.join.newsletter.benefit3Description}">Be the first to know about upcoming promotions and new arrivals.</span></li>
                </ul>
            </div>

            <div class="manage-subscription">
                <h3 th:text="#{general.join.newsletter.manageTitle}">Manage Your Subscription</h3>
                <p th:text="#{general.join.newsletter.manageDescription}">If you're already subscribed, you can manage your subscription preferences:</p>
                <ul>
                    <li><a href="#" th:text="#{general.join.newsletter.updatePreferences}">Update your email preferences</a></li>
                    <li><a href="#" th:text="#{general.join.newsletter.unsubscribe}">Unsubscribe from our newsletter</a></li>
                </ul>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>