<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

ADMIN DASHBOARD<br>
<a href="/api/logout">Logout</a><br>
<a href="/api/admin/add/category">Add Category</a><br>
<a href="/api/admin/add/discount">Add Discount</a><br>
<a href="/api/admin/add/item">Add Item</a><br>
<a href="/api/admin/view/categories">View Categories</a><br>
<a href="/api/admin/view/discounts">View Discounts</a><br>
<a href="/api/admin/view/users">View Users</a><br>
<a href="/api/admin/view/items">View Items</a><br>
</body>
</html>