<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title th:text="#{app.name} + ' - ' + #{admin.dashboard.pageTitle}"></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <p th:text="#{admin.dashboard.title}">ADMIN DASHBOARD</p>
            <a th:href="'/api/logout?lang=' + ${#locale.language}" th:text="#{admin.dashboard.logout}">Logout</a><br>
            <a th:href="'/api/admin/add/category?lang=' + ${#locale.language}" th:text="#{admin.dashboard.addCategory}">Add Category</a><br>
            <a th:href="'/api/admin/add/discount?lang=' + ${#locale.language}" th:text="#{admin.dashboard.addDiscount}">Add Discount</a><br>
            <a th:href="'/api/admin/add/item?lang=' + ${#locale.language}" th:text="#{admin.dashboard.addItem}">Add Item</a><br>
            <a th:href="'/api/admin/add/ad?lang=' + ${#locale.language}" th:text="#{admin.dashboard.addAd}">Add Ad</a><br>
            <a th:href="'/api/admin/view/categories?lang=' + ${#locale.language}" th:text="#{admin.dashboard.viewCategories}">View Categories</a><br>
            <a th:href="'/api/admin/view/discounts?lang=' + ${#locale.language}" th:text="#{admin.dashboard.viewDiscounts}">View Discounts</a><br>
            <a th:href="'/api/admin/view/users?lang=' + ${#locale.language}" th:text="#{admin.dashboard.viewUsers}">View Users</a><br>
            <a th:href="'/api/admin/view/items?lang=' + ${#locale.language}" th:text="#{admin.dashboard.viewItems}">View Items</a><br>
            <a th:href="'/api/admin/view/ads?lang=' + ${#locale.language}" th:text="#{admin.dashboard.viewAds}">View Ads</a><br>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>