<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            ADMIN DASHBOARD<br>
            <a th:href="'/api/logout?lang=' + ${language.code.toString()}">Logout</a><br>
            <a th:href="'/api/admin/add/category?lang=' + ${language.code.toString()}">Add Category</a><br>
            <a th:href="'/api/admin/add/discount?lang=' + ${language.code.toString()}">Add Discount</a><br>
            <a th:href="'/api/admin/add/item?lang=' + ${language.code.toString()}">Add Item</a><br>
            <a th:href="'/api/admin/add/ad?lang=' + ${language.code.toString()}">Add Ad</a><br>
            <a th:href="'/api/admin/view/categories?lang=' + ${language.code.toString()}">View Categories</a><br>
            <a th:href="'/api/admin/view/discounts?lang=' + ${language.code.toString()}">View Discounts</a><br>
            <a th:href="'/api/admin/view/users?lang=' + ${language.code.toString()}">View Users</a><br>
            <a th:href="'/api/admin/view/items?lang=' + ${language.code.toString()}">View Items</a><br>
            <a th:href="'/api/admin/view/ads?lang=' + ${language.code.toString()}">View Ads</a><br>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>