<!--
Author: Tomasz Zbroszczyk
Date: 13.06.2024
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>About Us</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!--Place content here-->

<h2>About Us</h2>
<p>Our company was founded in 2010 by a group of friends who wanted to create a platform where people could buy and sell items online. Since then, we have grown into a global marketplace with millions of users worldwide. Our mission is to connect people through commerce and make the world more sustainable by promoting the circular economy.</p>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>