<!--
Author: Tomasz Zbroszczyk
Date: 13.06.2024
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Careers</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2 th:text="#{general.info.careers.title}">Careers</h2>

            <p th:text="#{general.info.careers.description}">Welcome to our Careers page! We are excited that you are interested in joining our team. Below are the current job openings:</p>

            <div class="job-listing">
                <h3 th:text="#{general.info.careers.jobOpeningsTitle}">Job Openings</h3>
                <ul>
                    <li>
                        <strong th:text="#{general.info.careers.positionLabel}">Position:</strong> <span th:text="'Software Engineer'">Software Engineer</span><br>
                        <strong th:text="#{general.info.careers.locationLabel}">Location:</strong> <span th:text="'Remote'">Remote</span><br>
                        <strong th:text="#{general.info.careers.descriptionLabel}">Description:</strong> <span th:text="#{general.info.careers.softwareEngineerDescription}">We are seeking a skilled software engineer to join our dynamic team. This role involves developing innovative solutions and collaborating with cross-functional teams.</span><br>
                        <a href="#" th:text="#{general.info.careers.applyNow}">Apply Now</a>
                    </li>
                    <li>
                        <strong th:text="#{general.info.careers.positionLabel}">Position:</strong> <span th:text="'Marketing Specialist'">Marketing Specialist</span><br>
                        <strong th:text="#{general.info.careers.locationLabel}">Location:</strong> <span th:text="'New York, NY'">New York, NY</span><br>
                        <strong th:text="#{general.info.careers.descriptionLabel}">Description:</strong> <span th:text="#{general.info.careers.marketingSpecialistDescription}">Looking for a creative marketing specialist to drive our marketing campaigns. This role requires a strong understanding of digital marketing strategies.</span><br>
                        <a href="#" th:text="#{general.info.careers.applyNow}">Apply Now</a>
                    </li>
                    <!-- Add more job listings here as needed -->
                </ul>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>