<!--
Author: Tomasz Zbroszczyk
Date: 13.06.2024
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Susteinability</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2 th:text="#{general.info.sustainability.title}">Sustainability</h2>

            <p th:text="#{general.info.sustainability.description}">Welcome to our Sustainability page! At [Your Company Name], we are committed to environmental stewardship and social responsibility. Here are some of the initiatives and practices we follow:</p>

            <div class="initiatives">
                <h3 th:text="#{general.info.sustainability.initiativesTitle}">Our Sustainability Initiatives</h3>
                <ul>
                    <li>
                        <strong th:text="#{general.info.sustainability.initiative1Title}">Reducing Carbon Footprint:</strong> <span th:text="#{general.info.sustainability.initiative1Description}">We actively monitor and reduce our carbon emissions through energy-efficient practices and renewable energy sources.</span>
                    </li>
                    <li>
                        <strong th:text="#{general.info.sustainability.initiative2Title}">Recycling Program:</strong> <span th:text="#{general.info.sustainability.initiative2Description}">We promote recycling within our offices and encourage employees to participate in waste reduction efforts.</span>
                    </li>
                    <li>
                        <strong th:text="#{general.info.sustainability.initiative3Title}">Community Engagement:</strong> <span th:text="#{general.info.sustainability.initiative3Description}">We engage with local communities to support environmental education and conservation projects.</span>
                    </li>
                    <li>
                        <strong th:text="#{general.info.sustainability.initiative4Title}">Sustainable Sourcing:</strong> <span th:text="#{general.info.sustainability.initiative4Description}">We prioritize suppliers who adhere to sustainable sourcing practices, ensuring our products and materials are responsibly sourced.</span>
                    </li>
                </ul>
            </div>

            <div class="goals">
                <h3 th:text="#{general.info.sustainability.goalsTitle}">Our Sustainability Goals</h3>
                <p th:text="#{general.info.sustainability.goalsDescription}">Looking forward, we aim to achieve the following sustainability goals:</p>
                <ul>
                    <li th:text="#{general.info.sustainability.goal1}">Reduce our overall waste generation by 20% by the end of next year.</li>
                    <li th:text="#{general.info.sustainability.goal2}">Implement water conservation measures to reduce consumption by 15% over the next five years.</li>
                    <li th:text="#{general.info.sustainability.goal3}">Expand our use of renewable energy sources to cover 50% of our energy needs by 2030.</li>
                    <li th:text="#{general.info.sustainability.goal4}">Enhance employee engagement in sustainability practices through awareness campaigns and training programs.</li>
                </ul>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>