<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Add Category</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <a th:href="'/api/admin/dashboard?lang=' + ${#locale.language}" th:text="#{admin.add.category.dashboard}">Dashboard</a>
            <h2 th:text="#{admin.add.category.title}">Add Category</h2>
            <form action="/api/admin/add/category" method="post" enctype="multipart/form-data">
                <label for="name" th:text="#{admin.add.category.name}">Name:</label><br>
                <input type="text" id="name" name="name" required><br>

                <label for="parentCategoryInput" th:text="#{admin.add.category.parentCategory}">Parent Category:</label><br>
                <input list="parentCategories" id="parentCategoryInput" name="parentCategoryInput">
                <datalist id="parentCategories">
                    <option value="No parent category" selected th:text="#{admin.add.category.noParentCategory}"></option>
                    <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                </datalist><br>

                <label for="description" th:text="#{admin.add.category.description}">Description:</label><br>
                <textarea id="description" name="description" required></textarea><br><br>

                <label for="language_iso" th:text="#{admin.add.category.languageIso}">Language (ISO code):</label><br>
                <input type="text" id="language_iso" name="language_iso" required><br>

                <label for="imageData" th:text="#{admin.add.category.image}">Image:</label><br>
                <input type="file" id="imageData" name="imageData"><br>

                <input type="submit" value="Submit" th:text="#{admin.add.category.submitButton}">
            </form>
        </div>
    </th:block>    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
