<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
<a href="/">Home</a>
<a href="/api/admin/dashboard">Dashboard</a>
<h2>Add Category</h2>
<form action="/api/admin/add/category" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
