<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>

    <title>Add Discount</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const today = new Date().toISOString().split('T')[0];
            const validFromInput = document.getElementById('validFrom');
            const validUntilInput = document.getElementById('validUntil');

            validFromInput.setAttribute('min', today);
            validUntilInput.setAttribute('min', today);

            validFromInput.addEventListener('change', function() {
                const validFromDate = new Date(this.value);
                const minValidUntilDate = new Date(validFromDate);
                minValidUntilDate.setDate(validFromDate.getDate() + 1);
                validUntilInput.setAttribute('min', minValidUntilDate.toISOString().split('T')[0]);

                if (validUntilInput.value && new Date(validUntilInput.value) <= validFromDate) {
                    validUntilInput.value = minValidUntilDate.toISOString().split('T')[0];
                }
            });

            validUntilInput.addEventListener('change', function() {
                const validUntilDate = new Date(this.value);
                const maxValidFromDate = new Date(validUntilDate);
                maxValidFromDate.setDate(validUntilDate.getDate() - 1);

                if (validFromInput.value && new Date(validFromInput.value) > maxValidFromDate) {
                    validFromInput.value = today;
                }

                validFromInput.setAttribute('max', maxValidFromDate.toISOString().split('T')[0]);
            });

            const discountPercentageInput = document.getElementById('discountPercentage');
            discountPercentageInput.addEventListener('input', function() {
                if (this.value > 100) {
                    this.value = 100;
                } else if (this.value < 0) {
                    this.value = 0;
                }
                this.value = this.value.replace(/^0+(?!$)/, '');
            });
        });
    </script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <a th:href="'/api/admin/dashboard?lang=' + ${#locale.language}" th:text="#{admin.add.discount.dashboard}">Dashboard</a>
            <h2 th:text="#{admin.add.discount.title}">Add Discount</h2>
            <form action="/api/admin/add/discount" method="post">
                <label for="code" th:text="#{admin.add.discount.code}">Code (letters and numbers only):</label><br>
                <input type="text" id="code" name="code" pattern="[A-Za-z0-9]+" required><br>

                <label for="description" th:text="#{admin.add.discount.description}">Description:</label><br>
                <textarea id="description" name="description"></textarea><br>

                <label for="discountPercentage" th:text="#{admin.add.discount.discountPercentage}">Discount Percentage:</label><br>
                <input type="number" id="discountPercentage" name="discountPercentage" step="0.01" max="100.00" required><br>

                <label for="validFrom" th:text="#{admin.add.discount.validFrom}">Valid From:</label><br>
                <input type="date" id="validFrom" name="validFrom" required><br>

                <label for="validUntil" th:text="#{admin.add.discount.validUntil}">Valid Until:</label><br>
                <input type="date" id="validUntil" name="validUntil" required><br><br>

                <label for="itemId" th:text="#{admin.add.discount.itemId}">Item ID:</label><br>
                <input type="number" id="itemId" name="itemId" required><br><br>

                <label for="language_iso" th:text="#{admin.add.discount.languageIso}">Language (ISO code):</label><br>
                <input type="text" id="language_iso" name="language_iso" required><br>

                <input type="submit" value="Submit" th:text="#{admin.add.discount.submitButton}">
            </form>
        </div>
    </th:block>    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
