<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Item</title>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const priceInput = document.getElementById('price');
      const stockQuantityInput = document.getElementById('stockQuantity');

      // Price validation
      priceInput.addEventListener('input', function() {
        let price = parseFloat(this.value);
        if (isNaN(price) || price < 0) {
          price = 0;
        }
        this.value = price.toFixed(2);
      });

      // Stock quantity validation
      stockQuantityInput.addEventListener('input', function() {
        let quantity = parseInt(this.value, 10);
        if (isNaN(quantity) || quantity < 0) {
          quantity = 0;
        }
        this.value = quantity;
      });
    });
  </script>
</head>
<body>
<h2>Add Item</h2>
<form action="/api/admin/add/item" method="post" enctype="multipart/form-data">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" required><br>

  <label for="description">Description:</label><br>
  <textarea id="description" name="description" required></textarea><br>

  <label for="price">Price:</label><br>
  <input type="number" id="price" name="price" required><br>

  <label for="stockQuantity">Stock Quantity:</label><br>
  <input type="number" id="stockQuantity" name="stockQuantity" min="0" required><br>

  <label for="category">Category:</label><br>
  <select id="category" name="category" required>
    <option value="">Select Category</option>
    <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name + ' - ' + category.description}"></option>
  </select><br>

  <label for="imageData">Image:</label><br>
  <input type="file" id="imageData" name="imageData"><br>

  <input type="submit" value="Add Item">
</form>
</body>
</html>
