<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>View Discounts</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const validDiscountsCheckbox = document.getElementById('validDiscounts');

            validDiscountsCheckbox.addEventListener('change', function() {
                const url = new URL(window.location.href);
                if (this.checked) {
                    url.searchParams.set('valid', 'true');
                } else {
                    url.searchParams.delete('valid');
                }
                window.location.href = url.toString();
            });

            // Set the correct checkbox state based on the current URL
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('valid') && urlParams.get('valid') === 'true') {
                validDiscountsCheckbox.checked = true;
            }
        });
    </script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<a href="/api/admin/dashboard">Dashboard</a>
<h2>Discounts</h2>

<form>
    <ul>
        <li><label><input type="checkbox" id="validDiscounts"> View Only Valid Discounts</label></li>
    </ul>
    <label for="searchDis">Search:</label>
    <input type="text" id="searchDis" name="searchDis" placeholder="Enter item name" th:value="${searchDis}">
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Discount Percentage</th>
        <th>Valid From</th>
        <th>Valid Until</th>
        <th>Item ID</th>
        <th>Item Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mapItem : ${discountItemMap}">
        <td th:text="${mapItem.key.code}">Code</td>
        <td th:text="${mapItem.key.description}">Description</td>
        <td th:text="${mapItem.key.discountPercentage}">Percentage</td>
        <td th:text="${mapItem.key.validFrom}">From</td>
        <td th:text="${mapItem.key.validUntil}">Until</td>
        <td th:text="${mapItem.value.itemId}">-1</td>
        <td th:text="${mapItem.value.name}">No name</td>
    </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
