<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>View Discounts</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const validDiscountsCheckbox = document.getElementById('validDiscounts');

            validDiscountsCheckbox.addEventListener('change', function() {
                const url = new URL(window.location.href);
                if (this.checked) {
                    url.searchParams.set('valid', 'true');
                } else {
                    url.searchParams.delete('valid');
                }
                window.location.href = url.toString();
            });

            // Set the correct checkbox state based on the current URL
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('valid') && urlParams.get('valid') === 'true') {
                validDiscountsCheckbox.checked = true;
            }
        });
    </script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <a th:href="'/api/admin/dashboard?lang=' + ${#locale.language}" th:text="#{admin.view.discounts.dashboard}">Dashboard</a>
            <h2 th:text="#{admin.view.discounts.title}">Discounts</h2>

            <form>
                <ul>
                    <li><label><input type="checkbox" id="validDiscounts" th:text="#{admin.view.discounts.validDiscounts}"></label></li>
                </ul>
                <label for="searchDis" th:text="#{admin.view.discounts.searchLabel}">Search:</label>
                <input type="text" id="searchDis" name="searchDis" th:placeholder="#{admin.view.discounts.search}" th:value="${searchDis}">
                <button type="submit" th:text="#{admin.view.discounts.searchButton}">Search</button>
            </form>

            <table>
                <thead>
                <tr>
                    <th th:text="#{admin.view.discounts.code}">Code</th>
                    <th th:text="#{admin.view.discounts.description}">Description</th>
                    <th th:text="#{admin.view.discounts.language}">Language</th>
                    <th th:text="#{admin.view.discounts.discountPercentage}">Discount Percentage</th>
                    <th th:text="#{admin.view.discounts.validFrom}">Valid From</th>
                    <th th:text="#{admin.view.discounts.validUntil}">Valid Until</th>
                    <th th:text="#{admin.view.discounts.itemId}">Item ID</th>
                    <th th:text="#{admin.view.discounts.itemName}">Item Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mapItem : ${discountItemMap}">
                    <td th:text="${mapItem.key.code}">Code</td>
                    <td th:text="${mapItem.key.description}">Description</td>
                    <td th:text="${original_languages.get(mapItem.key.discountId).code}"></td>
                    <td th:text="${mapItem.key.discountPercentage}">Percentage</td>
                    <td th:text="${mapItem.key.validFrom}">From</td>
                    <td th:text="${mapItem.key.validUntil}">Until</td>
                    <td th:text="${mapItem.value.itemId}">-1</td>
                    <td th:text="${mapItem.value.name}">No name</td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
