<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Add User</title>
    <style>
        .weak-password { border: 2px solid red; }
        .medium-password { border: 2px solid yellow; }
        .strong-password { border: 2px solid green; }
        .valid-input { border: 2px solid green; }
        .invalid-input { border: 2px solid red; }
        .disabled-button { background-color: grey; cursor: not-allowed; }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2>Add User</h2>
            <form th:action="@{'/api/owner/add/user?lang=' + ${#locale.language}}" th:object="${newUser}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div th:if="${errorMessage}" style="color: red;">
                    <p th:text="${errorMessage}"></p>
                </div>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" th:field="*{username}" required><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" th:field="*{password}" oninput="checkPasswordStrength()" required>
                <div id="password-strength"></div><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" th:field="*{email}" required><br>

                <label for="firstName">First Name:</label><br>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" oninput="validateName(this)" required><br>

                <label for="lastName">Last Name:</label><br>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" oninput="validateSurname(this)" required><br>

                <label for="birthDate">Birth Date:</label><br>
                <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" required><br><br>

                <label for="phoneNumber">Phone Number:</label><br>
                <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"><br>

                <label for="address">Address:</label><br>
                <input type="text" id="address" name="address" th:field="*{address}"><br><br>

                <label for="gender">Gender:</label><br>
                <select id="gender" name="gender" th:field="*{gender}" required>
                    <option value="" selected="selected">Select your gender</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select><br><br>

                <label for="designatedRole">Role:</label><br>
                <select id="designatedRole" name="designatedRole" required>
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                </select><br><br>

                <label for="imageData">Profile Image:</label><br>
                <input type="file" id="imageData" name="imageData" accept="image/jpeg,image/png,image/jpg"><br><br>

                <input type="checkbox" id="termsCheckbox" onclick="toggleSubmitButton()">
                <label for="termsCheckbox">I have read and agree to the <a th:href="'/documents?lang=' + ${#locale.language} + '&name=termsandconditions" target="_blank">terms and conditions</a></label><br><br>

                <input type="submit" id="submitButton" value="Add User" disabled>
            </form>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    let disableValidation = true;

    function checkPasswordStrength() {
        const password = document.getElementById('password').value;
        const strengthIndicator = document.getElementById('password-strength');
        const strength = getPasswordStrength(password);

        strengthIndicator.className = '';
        if (strength === 'weak') {
            strengthIndicator.textContent = 'Weak';
            strengthIndicator.classList.add('weak-password');
        } else if (strength === 'medium') {
            strengthIndicator.textContent = 'Medium';
            strengthIndicator.classList.add('medium-password');
        } else if (strength === 'strong') {
            strengthIndicator.textContent = 'Strong';
            strengthIndicator.classList.add('strong-password');
        } else {
            strengthIndicator.textContent = '';
        }
    }

    function getPasswordStrength(password) {
        if (disableValidation) return 'strong';

        let strength = 'weak';
        if (password.length >= 8) {
            const hasNumbers = /\d/.test(password);
            const hasSpecialChars = /[!@#$%^&*(),.?":{}|<>]/.test(password);
            const hasUpperCase = /[A-Z]/.test(password);

            if (hasNumbers && hasSpecialChars && hasUpperCase) {
                strength = 'strong';
            } else if ((hasNumbers && hasSpecialChars) || (hasNumbers && hasUpperCase) || (hasSpecialChars && hasUpperCase)) {
                strength = 'medium';
            }
        }

        return strength;
    }

    function validateName(input) {
        const regex = /^[A-Z][a-z]*$/;
        if (disableValidation || regex.test(input.value)) {
            input.classList.add('valid-input');
            input.classList.remove('invalid-input');
        } else {
            input.classList.add('invalid-input');
            input.classList.remove('valid-input');
        }
    }

    function validateSurname(input) {
        const regex = /^[A-Z][a-z]*(?:-[A-Z][a-z]*)*$/;
        if (disableValidation || regex.test(input.value)) {
            input.classList.add('valid-input');
            input.classList.remove('invalid-input');
        } else {
            input.classList.add('invalid-input');
            input.classList.remove('valid-input');
        }
    }

    function validateForm() {
        if (disableValidation) return true;

        const firstName = document.getElementById('firstName');
        const lastName = document.getElementById('lastName');
        const password = document.getElementById('password');

        validateName(firstName);
        validateSurname(lastName);
        checkPasswordStrength();

        return firstName.classList.contains('valid-input') && lastName.classList.contains('valid-input') && getPasswordStrength(password.value) === 'strong';
    }

    function toggleSubmitButton() {
        const termsCheckbox = document.getElementById('termsCheckbox');
        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = !termsCheckbox.checked;
    }
</script>
</body>
</html>
