<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Order Confirmation</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <div class="container">
                <h1>Order Confirmation</h1>
                <div th:if="${order != null}">
                    <h2>Thank you for your order, <span th:text="${order.user != null ? order.user.username : 'User'}">User Name</span>!</h2>
                    <p>Your order number is <span th:text="${order.orderId != null ? order.orderId : '123'}">123</span>.</p>
                    <div>
                        <h3>Order Details:</h3>
                        <ul>
                            <li th:each="orderItem : ${orderItems}">
                                <span th:text="${orderItem.item.name != null ? orderItem.item.name : 'Product Name'}">Product Name</span> -
                                <span th:text="${orderItem.quantity}">1</span> x
                                <span th:text="${#numbers.formatDecimal(orderItem.price * order.exchangeRate.exchangeRate, 1, 2)} + ${order.currency.symbol}">$0.00</span>                                <a th:href="@{/item(id=${orderItem.item.itemId})}">View Item</a>
                            </li>
                        </ul>
                        <p>Total before discount: <span  th:text="${#numbers.formatDecimal(order.totalAmount * order.exchangeRate.exchangeRate, 1, 2)} + ${order.currency.symbol}">$0.00</span></p>
                        <div th:if="${!order.currency.shortName.equals('PLN')}">
                            <p th:text="'Exchange rate PLN -> ' + ${order.currency.shortName} + ' in your order is ' + ${#numbers.formatDecimal(order.exchangeRate.exchangeRate, 1, 2)}"></p>                        </div>
                        <p>Discount: <span th:text="${order.discount.discountPercentage} + '%'">0%</span></p>
                        <p  th:if="${itemDiscount != null}">Discount for item: <span th:text="${itemDiscount.item.name}">Whole order</span></p>
                        <p>Status: <span th:text="${order.status}">Status</span></p>
                        <div th:if="${order.status.toString() != 'UNPAID'}">
                            <p>Your order has been paid. Please check your email for further instructions on how to track your order.</p>
                        </div>
                        <div th:if="${order.status.toString() == 'UNPAID'}">
                            <p>Your order is currently unpaid. Please <a th:href="'/api/pay/order?id=' + ${order.orderId}">click here to pay now</a>.</p>
                        </div>
                    </div>
                    <a th:href="'/user/cart/checkout/file?orderID=' + ${order.orderId}">Download PDF</a>
                </div>
                <div th:if="${order == null}">
                    <p>We encountered an issue with your order. Please contact support.</p>
                </div>
                <a href="/" th:href="@{/}">Return to Home</a>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
