<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>User Profile</title>
    <style>
        .profile-container {
            text-align: center;
            margin: 50px;
        }
        .profile-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <div class="profile-container">
                <h1 th:text="#{user.profile.title}"></h1>
                <img th:src="${user.resolveImage()}" alt="User Image"  class="profile-image">
                <p><strong th:text="#{user.profile.username}"></strong> <span th:text="${user.username}"></span></p>
                <p><strong th:text="#{user.profile.email}"></strong> <span th:text="${user.email}"></span></p>
                <p><strong th:text="#{user.profile.first_name}"></strong> <span th:text="${user.firstName}"></span></p>
                <p><strong th:text="#{user.profile.last_name}"></strong> <span th:text="${user.lastName}"></span></p>
                <p><strong th:text="#{user.profile.birth_date}"></strong> <span th:text="${user.birthDate}"></span></p>
                <p><strong th:text="#{user.profile.phone_number}"></strong> <span th:text="${user.phoneNumber}"></span></p>
                <p><strong th:text="#{user.profile.address}"></strong> <span th:text="${user.address}"></span></p>
                <p><strong th:text="#{user.profile.gender}"></strong> <span th:text="${user.gender}"></span></p>
            </div>
            <a th:href="'/api/update/user?lang=' + ${#locale.language}">Update Profile</a>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
