<div th:fragment="ad">
    <div id="ads-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 10%;">

        <div th:each="ad, iterStat : ${ads}" class="ad-item" th:data-id="${ad.item.itemId}" th:data-lang="${#locale.language}"
             th:style="${iterStat.index == 0} ? 'display: block;' : 'display: none;'" style="width: 100%; text-align: center; margin-bottom: 20px; cursor: pointer;">
            <a th:href="@{'/item?lang=' + ${#locale.language} + '&id=' + ${ad.item.itemId}}" style="text-decoration: none; color: black">
                <img th:src="@{'/api/image/ad/' + ${ad.adId}}" alt="Ad Image"
                     style="max-width: 100%; height: auto; margin-bottom: 10px;">
                <div class="ad-description" th:text="${ad.description}" style="max-width: 100%;"></div>
            </a>
            </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.ad-item').forEach(function(row) {
                row.addEventListener('click', function() {
                    var lang = this.getAttribute('data-lang');
                    var id = this.getAttribute('data-id');
                    window.location = '/item?lang=' + lang + '&id=' + id;
                });
            });
        });
    </script>
</div>