<div th:fragment="ad">
    <div id="ads-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 10%;">
        <div th:each="ad, iterStat : ${ads}" class="ad-item" th:onclick="|window.location='/item?id=' + ${ad.item.itemId}|"
             th:style="${iterStat.index == 0} ? 'display: block;' : 'display: none;'" style="width: 100%; text-align: center; margin-bottom: 20px; cursor: pointer;">
            <img th:src="@{'/api/image/ad/' + ${ad.adId}}" alt="Ad Image"
                 style="max-width: 100%; height: auto; margin-bottom: 10px;">
            <div class="ad-description" th:text="${ad.description}" style="max-width: 100%;"></div>
        </div>
    </div>
</div>