<div th:fragment="bestseller">
    <div th:if="${bestseller != null}">
        <div class="bestseller-container">
            <div class="bestseller">
                <a th:href="@{'/item?lang=' + ${#locale.language} + '&id=' + ${bestseller.itemId}}">
                    <img th:src="@{'/api/image/item/' + ${bestseller.itemId}}" alt="Item Image">
                </a>
                <div class="bestseller-info">
                    <a th:href="@{'/item?lang=' + ${#locale.language} + '&id=' + ${bestseller.itemId}}">
                        <p class="title" th:text="${bestseller.name}"></p>
                    </a>
                    <h3 th:text="#{fragments.best_seller.price}">Price:</h3>
                    <!--/*@thymesVar id="currency" type="com.example.merchstore.components.models.Currency"*/-->
                    <p class="price" th:text="${#numbers.formatDecimal(bestseller.price * exchangeRate.exchangeRate, 1, 2)} + ${currency.symbol}"></p>                </div>
                <div class="see-product">
                    <a th:href="@{'/item?lang=' + ${#locale.language} + '&id=' + ${bestseller.itemId}}" th:text="#{fragments.best_seller.see_product}">See Product</a>
                </div>
            </div>
        </div>
    </div>
</div>