<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestsellers Panel</title>
    <link rel="stylesheet" href="../../static/css/bestsellersPanel.css">
    <link rel="stylesheet" href="../../static/css/bestseller.css">

</head>
<body>
<div th:fragment="bestsellersPanel">
    <div class="bestseller-panel-container">
        <p class="bestseller-panel-title">Bestsellers</p>
        <div class="bestseller-panel">
            <div th:each="bestseller : ${bestsellers}">
                <div  th:replace="~{fragments/bestseller :: bestseller}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>