<div th:fragment="footer">
    <footer>
        <div class="footer-links">
            <div class="footer-column">
                <h3 th:text="#{fragments.footer.shop.title}">Shop</h3>
                <ul>
                    <li><a th:href="'/item/all?lang=' + ${#locale.language}" th:text="#{fragments.footer.shop.all_items}">All Items</a></li>
                    <li><a th:href="'/user/cart?lang=' + ${#locale.language}" th:text="#{fragments.footer.shop.cart}">Cart</a></li>
                    <li><a th:href="'/user/cart/checkout/all?lang=' + ${#locale.language}" th:text="#{fragments.footer.shop.orders}">All your orders</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 th:text="#{fragments.footer.information.title}">Information</h3>
                <ul>
                    <li><a th:href="'/info/about?lang=' + ${#locale.language}" th:text="#{fragments.footer.information.about_us}">About Us</a></li>
                    <li><a th:href="'/info/careers?lang=' + ${#locale.language}" th:text="#{fragments.footer.information.careers}">Careers</a></li>
                    <li><a th:href="'/info/sustainability?lang=' + ${#locale.language}" th:text="#{fragments.footer.information.sustainability}">Sustainability</a></li>
                    <li><a th:href="'/info/press?lang=' + ${#locale.language}" th:text="#{fragments.footer.information.press}">Press</a></li>
                    <li><a th:href="'/info/investors?lang=' + ${#locale.language}" th:text="#{fragments.footer.information.investors}">Investors</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 th:text="#{fragments.footer.help.title}">Help</h3>
                <ul>
                    <li><a th:href="'/help/customer-service?lang=' + ${#locale.language}" th:text="#{fragments.footer.help.customer_service}">Customer Service</a></li>
                    <li><a th:href="'/help/faq?lang=' + ${#locale.language}" th:text="#{fragments.footer.help.faq}">FAQ</a></li>
                    <li><a th:href="'/help/returns?lang=' + ${#locale.language}" th:text="#{fragments.footer.help.returns}">Returns</a></li>
                    <li><a th:href="'/help/contact?lang=' + ${#locale.language}" th:text="#{fragments.footer.help.contact}">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 th:text="#{fragments.footer.join_us.title}">Join Us</h3>
                <ul>
                    <li><a th:href="'/join/loyalty?lang=' + ${#locale.language}" th:text="#{fragments.footer.join_us.loyalty}">Loyalty Program</a></li>
                    <li><a th:href="'/join/newsletter?lang=' + ${#locale.language}" th:text="#{fragments.footer.join_us.newsletter}">Newsletter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-social">
            <a th:href="#{social.facebook}" target="_blank">Facebook</a>
            <a th:href="#{social.twitter}" target="_blank">Twitter</a>
            <a th:href="#{social.instagram}" target="_blank">Instagram</a>
            <a th:href="#{social.github}" target="_blank">YouTube</a>
            <a th:href="#{social.linkedin}" target="_blank">LinkedIn</a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 <span th:text="#{company.name}"></span><span th:text="#{fragments.footer.all_rights_reserved}"> . All rights reserved.</span></p>
        </div>
    </footer>
</div>
