<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div class="footer-links">
            <div class="footer-column">
                <h3>Shop</h3>
                <ul>
                    <li><a href="/item/all">All Items</a></li>
                    <li><a href="/user/cart">Cart</a></li>
                    <li><a href="/user/cart/checkout/all">All your orders</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Information</h3>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/sustainability">Sustainability</a></li>
                    <li><a href="/press">Press</a></li>
                    <li><a href="/investors">Investors</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Help</h3>
                <ul>
                    <li><a href="/customer-service">Customer Service</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/returns">Returns</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Join Us</h3>
                <ul>
                    <li><a href="/loyalty">Loyalty Program</a></li>
                    <li><a href="/newsletter">Newsletter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-social">
            <a th:href="#{social.facebook}" target="_blank">Facebook</a>
            <a th:href="#{social.twitter}" target="_blank">Twitter</a>
            <a th:href="#{social.instagram}" target="_blank">Instagram</a>
            <a th:href="#{social.github}" target="_blank">YouTube</a>
            <a th:href="#{social.linkedin}" target="_blank">LinkedIn</a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 My company. All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>
