<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/nav.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <link th:href="@{/css/category.css}" rel="stylesheet">
  <link th:href="@{/css/categorySlider.css}" rel="stylesheet">
  <link th:href="@{/css/bestseller.css}" rel="stylesheet">
  <link th:href="@{/css/bestsellersPanel.css}" rel="stylesheet">
  <link th:href="@{/css/itemMini.css}" rel="stylesheet">
  <link th:href="@{/css/recentlyViewedPanel.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/javascript/updateAds.js}"></script>
  <script th:src="@{/javascript/categorySlider.js}"></script>
  <script th:src="@{/javascript/recentlyViewedPanelSlider.js}"></script>
  <script th:src="@{/javascript/currency.js}"></script>
</head>
<body>
</body>
</html>