<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Search Results</title>
    <link rel="stylesheet" href="../../static/css/itemSearchResult.css">
    <link rel="stylesheet" href="../../static/css/itemSearchResults.css">
</head>
<body>
<div th:fragment="itemSearchResults">
    <div class="item-search-results-box">
        <div th:each="searchItem : ${searchItems}">
            <div th:replace="~{fragments/itemSearchResult :: itemSearchResult}"></div>
        </div>
    </div>
</div>
</body>
</html>