<div th:fragment="navbar">
  <nav>
    <div class="nav-left">
      <a th:href="'/?lang=' + ${language.code.toString()}" class="app-name" th:text="#{app.name}">Name of App</a>
    </div>
    <div class="nav-center">

      <a th:href="'/item/all?lang=' + ${language.code.toString()}">
        <img src="/svg/shopping_bag.svg" alt="Shop">
      </a>

      <form th:action="'/item/all?lang=' + ${language.code.toString()}" method="get" class="search-form">
        <input type="text" id="search" name="search" placeholder="Search" th:value="${search}">
        <script>
          window.addEventListener('load', function() {
            var searchBox = document.getElementById('search');
            var searchResultsContainer = document.getElementById('searchResultsContainer');

            function getURLParameter(name) {
              return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
            }

            // Get the lang parameter, default to "pl" if not present
            var lang = getURLParameter('lang') || 'pl';

            searchBox.addEventListener('input', function() {
              let searchText = this.value;
              if (searchText.trim() === '') {
                searchResultsContainer.innerHTML = '';
              } else {
                fetch(`/item/search?lang=${lang}&search=${searchText}`)
                        .then(response => response.text())
                        .then(html => {
                          searchResultsContainer.innerHTML = html;
                        });
              }
            });

            searchBox.addEventListener('focus', function() {
              searchResultsContainer.style.display = 'block';
            });

            searchBox.addEventListener('blur', function() {
              setTimeout(function() {
                searchResultsContainer.style.display = 'none';
              }, 300);
            });
          });
        </script>
        <button type="submit">
          <img src="/svg/search/search.svg" alt="Search">
        </button>
      </form>
    </div>
    <div class="nav-right">
      <p id="exchangeRate" style="color: black">PLN -> <span></span></p>
      <select id="currencySelect">
        <!-- Options will be populated by JavaScript -->
      </select>
      <div th:if="${isLoggedIn && user != null}" class="nav-user">
        <a th:href="'/user/cart?lang=' + ${language.code.toString()}">
          <img src="/svg/shopping_cart.svg" alt="Cart" class="cart-image">
        </a>
        <a href="/profile">
          <div class="profile">
            <img th:src="${user.resolveImage()}" alt="User Image"  class="profile-image">
            <span th:text="${user.username}"></span>
          </div>
        </a>
        <a th:href="'/api/logout?lang=' + ${language.code.toString()}">Logout</a>
      </div>
      <div th:if="${!isLoggedIn || user == null}" class="nav-user">
        <a th:href="'/api/login/form?lang=' + ${language.code.toString()}">Login</a>
      </div>
    </div>

  </nav>
  <div id="searchResultsContainer"></div>
</div>