<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Navbar Fragment</title>
  <link th:href="@{/css/nav.css}" rel="stylesheet">
</head>
<body>
<!-- navbar.html -->
<div th:fragment="navbar">
  <nav>
    <div class="nav-left">
      <a href="/" class="app-name" th:text="#{app.name}">Name of App</a>
    </div>
    <div class="nav-center">
      <a href="/item/all">
        <img src="/images/icons/shop.png" alt="Shop">
      </a>
      <form action="/item/all" method="get" class="search-form">
        <input type="text" id="search" name="search" placeholder="Search" th:value="${search}">
        <button type="submit">
          <img src="/images/icons/search.png" alt="Search">
        </button>
      </form>
    </div>
    <div class="nav-right" th:if="${isLoggedIn && user != null}">
      <a href="/user/cart">
        <img src="/images/icons/cart.png" alt="Cart">
      </a>
      <a href="/profile">
        <div class="profile">
          <img th:src="${'data:image/jpeg;base64,' + user.base64Image()}" alt="Profile Image" class="profile-image">
          <span th:text="${user.username}"></span>
        </div>
      </a>
      <a href="/api/logout">Logout</a>
    </div>
    <div class="nav-right" th:if="${!isLoggedIn || user == null}">
      <a href="/api/login/form">Login</a>
    </div>
  </nav>
</div>

</body>
</html>