<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.name}">Name of App</title>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <style>
        .centered-content {
            margin: 0 auto;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>

    </th:block>
    <th:block th:fragment="content">
        <div>
            <h2>Welcome</h2>
            <div class="centered-content">
                <div th:replace="~{fragments/categorySlider :: categorySlider}"></div>
            </div>
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend massa vitae ipsum tristique, a tempor quam pharetra. Sed finibus, dui nec sodales eleifend, sapien ex sollicitudin justo, ut dignissim risus lectus ut dolor. Curabitur ultricies urna a tempor suscipit. Phasellus pharetra ante nec ipsum malesuada, non ultricies ipsum congue. Integer sit amet turpis a magna sagittis molestie eget nec libero. Nam fermentum mauris eget massa fringilla, vel dignissim turpis facilisis. Donec sodales varius sapien, ac blandit quam vulputate in. Nulla eu sem in arcu malesuada accumsan.</p>

            <h3>Our Products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend massa vitae ipsum tristique, a tempor quam pharetra. Sed finibus, dui nec sodales eleifend, sapien ex sollicitudin justo, ut dignissim risus lectus ut dolor. Curabitur ultricies urna a tempor suscipit. Phasellus pharetra ante nec ipsum malesuada, non ultricies ipsum congue. Integer sit amet turpis a magna sagittis molestie eget nec libero. Nam fermentum mauris eget massa fringilla, vel dignissim turpis facilisis. Donec sodales varius sapien, ac blandit quam vulputate in. Nulla eu sem in arcu malesuada accumsan.</p>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
    <p></p>
    </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
