<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Item Details</title>
    <style>
        .item-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .item-image {
            max-width: 100%;
            height: auto;
        }
        .item-details {
            margin-top: 20px;
        }
        .item-details h2 {
            margin-bottom: 10px;
        }
        .item-details p {
            margin-bottom: 5px;
        }
        .item-details .price {
            font-size: 1.5em;
            color: #b12704;
            margin-bottom: 10px;
        }
        .out-of-stock {
            color: red;
            font-weight: bold;
        }
        .reviews {
            margin-top: 20px;
        }
        .review {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }
        .review p {
            margin: 0;
        }
        .review-form {
            margin-top: 20px;
        }

         .star-checkbox {
             display: none;
         }

        .star-label {
            cursor: pointer;
        }

    </style>
</head>
<body>
<script>
    // Get the id parameter from the current URL
    const urlParamsWishList = new URLSearchParams(window.location.search);
    const id = urlParamsWishList.get('id');

    function changeWishlistStatus() {
        var xhr = new XMLHttpRequest();
        var url = "/user/wishlist/change?itemId=" + id;
        const starImg = document.querySelector(".star-label img");

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                document.getElementById("wishlist").checked = json;
                // Update the src attribute of the image and the display of the divs here
                starImg.src = json ? '/svg/star/star-yellow.svg' : '/svg/star/star-transparent.svg';
                document.getElementById("addToWishlist").style.display = json ? "none" : "block";
                document.getElementById("removeFromWishlist").style.display = json ? "block" : "none";
            }
        };
        xhr.send();
    }

    window.onload = function() {
        // Get the id parameter from the current URL
        const urlParamsWishList = new URLSearchParams(window.location.search);
        const id = urlParamsWishList.get('id');
        const wishlistCheckbox = document.getElementById("wishlist");
        const starImg = document.querySelector(".star-label img");

        // Fetch the wishlist status from the server
        fetch('/user/wishlist/get', {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {
                // Check if the item is in the wishlist
                const isWishListed = data.some(wishlistItem => wishlistItem.item.itemId === id);
                wishlistCheckbox.checked = isWishListed;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    };

</script>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <script>
            // Get the id parameter from the current URL
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id');

            fetch('cookie/get?key=history&value=' + id, {
                method: 'GET',
            })
                .then(response => response.text())
                .then(data => {
                    console.log('Response from /get:', data);
                    if (data !== 'true') {
                        fetch('/cookie/add?key=history&value=' + id, {
                            method: 'GET',
                        })
                            .then(response => response.text())
                            .then(data => {
                                console.log('Response from /add:', data);

                                // After the first request is done, send a request to "/cookie/delete?key=history"
                                fetch('/cookie/delete?key=history', {
                                    method: 'GET',
                                })
                                    .then(response => response.text())
                                    .then(data => {
                                        console.log('Response from /delete:', data);
                                    })
                                    .catch((error) => {
                                        console.error('Error:', error);
                                    });
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });

        </script>
        <div>
            <div class="item-container" th:if="${item != null}">
                <p th:if="${addedToCart != null}" th:text="${addedToCart}"></p>
                <img th:src="@{'/api/image/item/' + ${item.itemId}}" alt="Item Image" class="item-image">
                <div class="item-details">
                    <h2 th:text="${item.name}">Item Name</h2>
                    <div th:if="${isLoggedIn && user != null}" style="display: flex; align-items: center;">
                        <!-- Wishlist checkbox and star image -->
                        <input type="checkbox" id="wishlist" class="star-checkbox" th:checked="${isWishListed}" onchange="changeWishlistStatus()"/>
                        <label for="wishlist" class="star-label">
                            <img th:src="${isWishListed} ? '/svg/star/star-yellow.svg' : '/svg/star/star-transparent.svg'" class="star-svg">
                        </label>
                        <!-- Add to Wishlist and Remove from Wishlist sections -->
                        <div id="addToWishlist" th:style="${isWishListed} == true ? 'display:none;' : 'display:block;'" style="margin-left: 10px;" th:text="#{general.view.item.addToWishlist}">Add to Wishlist</div>
                        <div id="removeFromWishlist" th:style="${isWishListed} == true ? 'display:block;' : 'display:none;'" style="margin-left: 10px;" th:text="#{general.view.item.removeFromWishlist}">Remove from Wishlist</div>
                    </div>

                    <p th:text="${item.description}">Item Description</p>
                    <div th:each="attribute : ${attributes}" th:if="${attributes.size() > 0 && attributes != null}">
                        <div class="attributePair" style="border: black solid 1px; display: inline-block; padding-left: 10px; padding-right: 10px">
                            <p th:text="${attribute.attributeType.name}">Attribute Key</p>
                            <p th:text="${attribute.value}">Attribute Value</p>
                        </div>
                    </div>
                    <p class="price" th:text="${#numbers.formatDecimal(item.price * exchangeRate.exchangeRate, 1, 2)} + ${currency.symbol}">Item Price</p>
                    <p th:if="${item.stockQuantity > 0}">Stock Quantity: <span th:text="${item.stockQuantity}">0</span></p>
                    <p th:text="#{general.view.item.category}">Category: <span th:text="${categoryHierarchy}">Category Hierarchy</span></p>
                </div>
                <div th:if="${item.stockQuantity > 0}">
                    <form th:action="@{/user/cart/add}" method="post">
                        <input type="hidden" name="itemId" th:value="${item.itemId}" />
                        <label for="quantity" th:text="#{general.view.item.quantity}">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" value="1" min="1" />
                        <button type="submit" th:text="#{general.view.item.addToCart}">Add to cart</button>
                    </form>
                </div>
                <p th:if="${item.stockQuantity == 0}" class="out-of-stock" th:text="#{general.view.item.outOfStock}">Currently out of stock. Wait for new supply.</p>
                <p th:if="${item.stockQuantity < 0}" class="out-of-stock" th:text="#{general.view.item.noLongerSupplied}">This item will no longer be supplied again.</p>

                <!-- Reviews Section -->
                <div class="reviews">
                    <h3 th:text="#{general.view.item.reviews}">Reviews</h3>
                    <div th:if="${reviews != null && !reviews.isEmpty()}">
                        <p th:text="#{general.view.item.averageRating}">Average Rating: <span th:text="${averageRating}">0.0</span></p>
                        <p th:text="#{general.view.item.totalReviews}">Total Reviews: <span th:text="${reviews.size()}">0</span></p>
                    </div>

                    <div th:if="${reviews != null && !reviews.isEmpty()}">
                        <div th:each="review : ${reviews}">
                            <div class="review">
                                <p><strong th:text="${review.user.username}">Username</strong> - <span th:text="#{general.view.item.addedAt}">added at:</span> <span th:text="${review.createdAt}">Date</span></p>
                                <p th:text="${review.description}">Review Description</p>
                                <p th:text="#{general.view.item.rating}">Rating: <span th:text="${review.starRating}">Rating</span></p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${reviews == null || reviews.isEmpty()}">
                        <p th:text="#{general.view.item.noReviews}">No reviews yet.</p>
                    </div>
                    <!-- Check if the user has already reviewed the item -->
                    <div th:if="${submitted}">
                        <p th:text="#{general.view.item.alreadySubmitted}">You have already submitted a review for this item.</p>
                    </div>

                    <!-- Add Review Form -->
                    <div class="review-form" th:if="${submitted == false}">
                        <form th:action="@{/review/addReview}" method="post">
                            <input type="hidden" name="itemId" th:value="${item.itemId}" />

                            <label for="reviewDescription" th:text="#{general.view.item.addReview}">Add a review:</label>
                            <textarea id="reviewDescription" name="description" rows="4" cols="50" required></textarea>

                            <label for="rating" th:text="#{general.view.item.rating}">Rating:</label>
                            <div id="rating">
                                <label><input type="radio" name="star_rating" value="1" required> 1</label>
                                <label><input type="radio" name="star_rating" value="2"> 2</label>
                                <label><input type="radio" name="star_rating" value="3"> 3</label>
                                <label><input type="radio" name="star_rating" value="4"> 4</label>
                                <label><input type="radio" name="star_rating" value="5"> 5</label>
                            </div>

                            <button type="submit" th:text="#{general.view.item.submit}">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
            <div th:if="${item == null}">
                <p th:text="#{general.view.item.notFound}">Item not found.</p>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
