<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>View Items</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr {
            cursor: pointer;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .pagination a, .pagination span {
            margin: 0 5px;
            padding: 8px 16px;
            text-decoration: none;
            color: #333;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .pagination a:hover {
            background-color: #f2f2f2;
        }
        .pagination .active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div class="categoryTree">
            <div th:replace="~{fragments/categoryTree :: categoryTree(categoryList=${parentCategories}, first=${true})}"></div>
        </div>

        <div>
            <h2>Items</h2>
            <div th:if="${isLoggedIn && user != null}">
                <a th:href="'/user/wishlist/all?lang=' + ${#locale.language}" style="text-decoration: none; color: black; border: 1px solid black; padding: 5px">View Wishlist</a>
            </div>
        </div>
            <form action="/item/all" method="get">
                <label for="category">Filter by Category:</label>
                <select id="category" name="category">
                    <option value="">All Categories</option>
                    <option th:each="category : ${categories}" th:if="${category.shouldDisplay}" th:value="${category.categoryId}" th:text="${category.name}" th:selected="${selectedCategoryId == category.categoryId}"></option>
                </select>
                <label for="searchItems">Search:</label>
                <input type="text" id="searchItems" name="searchItems" placeholder="Enter item name" th:value="${searchItems}">
                <button type="submit">Search</button>
            </form>
            <div>
                <label for="sort">Sort by: </label>
                <select id="sort" onchange="updateSorting()">
                    <option value="name" th:selected="${sortField == 'name'}">Name</option>
                    <option value="price" th:selected="${sortField == 'price'}">Price</option>
                    <option value="stockQuantity" th:selected="${sortField == 'stockQuantity'}">Stock Quantity</option>
                    <option value="category" th:selected="${sortField == 'category'}">Category</option>
                </select>
            </div>
            <div>
                <label for="order">Order by: </label>
                <select id="order" onchange="updateSorting()">
                    <option value="asc" th:selected="${order == 'asc'}">Ascending</option>
                    <option value="desc" th:selected="${order == 'desc'}">Descending</option>
                </select>
            </div>
            <div>
                <label for="itemsPerPage">Items per page: </label>
                <input type="number" id="itemsPerPage" min="1" value="20" onchange="updateItemsPerPage()" th:value="${itemsPerPage}">
            </div>
            <table>
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                <script>
                    window.addEventListener('load', function() {
                        document.querySelectorAll('.item-row').forEach(function(row) {
                            row.addEventListener('click', function() {
                                var lang = this.getAttribute('data-lang');
                                var id = this.getAttribute('data-id');
                                window.location = '/item?lang=' + lang + '&id=' + id;
                            });
                        });
                    });
                </script>
                <tr th:each="item : ${items}" th:if="${item.stockQuantity > 0}" th:data-lang="${#locale.language}" th:data-id="${item.itemId}"
                    class="item-row">
                    <script>

                    </script>
                    <td>
                        <img th:src="@{'/api/image/item/' + ${item.itemId}}" alt="Item Image" class="item-image">
                    </td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${#numbers.formatDecimal(item.price * exchangeRate.exchangeRate, 1, 2)} + ${currency.symbol}"></td>
                    <td th:text="${item.stockQuantity}"></td>
                    <td th:text="${item.category.name}"></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <a th:if="${currentPage > 1}" th:href="@{|/item/all?lang=${#locale.language}&page=${currentPage - 1}&category=${selectedCategoryId == null ? '' : selectedCategoryId}&sortField=${sortField}&order=${order}&itemsPerPage=${itemsPerPage}|}">&laquo;</a>
                <a th:if="${currentPage > 2}" th:href="@{|/item/all?lang=${#locale.language}&page=1&category=${selectedCategoryId == null ? '' : selectedCategoryId}&sortField=${sortField}&order=${order}&itemsPerPage=${itemsPerPage}|}">1</a>
                <span th:if="${currentPage > 3}">...</span>
                <a th:each="i : ${#numbers.sequence(1, totalPages)}" th:if="${i <= 2 or i >= totalPages - 1 or (i >= currentPage - 1 and i <= currentPage + 1)}" th:href="@{|/item/all?lang=${#locale.language}&page=${i}&category=${selectedCategoryId == null ? '' : selectedCategoryId}&sortField=${sortField}&order=${order}&itemsPerPage=${itemsPerPage}|}" th:classappend="${currentPage == i} ? 'active'">
                    <span th:text="${i}"></span>
                </a>
                <span th:if="${currentPage < totalPages - 2}">...</span>
                <a th:if="${currentPage < totalPages}" th:href="@{|/item/all?lang=${#locale.language}&page=${totalPages}&category=${selectedCategoryId == null ? '' : selectedCategoryId}&sortField=${sortField}&order=${order}&itemsPerPage=${itemsPerPage}|}"><span th:text="${totalPages}"></span></a>
                <a th:if="${currentPage < totalPages}" th:href="@{|/item/all?lang=${#locale.language}&page=${currentPage + 1}&category=${selectedCategoryId == null ? '' : selectedCategoryId}&sortField=${sortField}&order=${order}&itemsPerPage=${itemsPerPage}|}">&raquo;</a>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    function updateSorting() {
        var sortField = document.getElementById('sort').value;
        var sortOrder = document.getElementById('order').value;
        var itemsPerPage = document.getElementById('itemsPerPage').value;
        var baseUrl = window.location.pathname;
        var searchParams = new URLSearchParams(window.location.search);

        if (sortField) {
            searchParams.set('sortField', sortField);
        } else {
            searchParams.delete('sortField');
        }

        if (sortOrder) {
            searchParams.set('order', sortOrder);
        } else {
            searchParams.delete('order');
        }

        if (itemsPerPage) {
            searchParams.set('itemsPerPage', itemsPerPage);
        } else {
            searchParams.delete('itemsPerPage');
        }

        window.location.href = baseUrl + '?' + searchParams.toString();
    }

    function updateItemsPerPage() {
        var itemsPerPage = document.getElementById('itemsPerPage').value;
        if (itemsPerPage < 1) {
            itemsPerPage = 1;
        }
        var baseUrl = window.location.pathname;
        var searchParams = new URLSearchParams(window.location.search);
        searchParams.set('itemsPerPage', itemsPerPage);
        window.location.href = baseUrl + '?' + searchParams.toString();
    }
</script>
</body>
</html>
