<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title th:text="${statusCode} + ' ' + ${errorMessage}">Error Page</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <h1 th:text="#{error.title}">Error Details</h1>
            <div>
                <p><span th:text="#{error.status_code}">Status Code: </span><span th:text="${statusCode}"></span></p>
                <p><span th:text="#{error.message}">Error Message: </span><span th:text="${errorMessage}"></span></p>
                <p><span th:text="${customMessage}"></span></p>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
