nav {
    font-family: Arial, sans-serif;
    background-color: #5a81c1;
    color: #5c5c5c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav .nav-left {
    margin-right: 20px;
}
nav .nav-left .app-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3a5787;
    transition: background-color 0.3s ease;
}

nav .nav-left .app-name:hover {
    background-color: #3a5787;
}

nav .nav-center {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0;
    margin-right: 0;
}

nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
}

nav .nav-right a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

nav .profile {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

nav .search-form {
    position: relative;
    display: inline-block;
}

nav .search-form input[type="text"] {
    width: 300px;
    padding: 10px 40px 10px 10px;
    border: 2px solid #333;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
}

nav .search-form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
}

nav .search-form button img {
    width: 20px;
    height: 20px;
}

nav .nav-right a img {
    width: 30px;
    height: 30px;
}

nav .nav-center a img {
    width: 30px;
    height: 30px;
    justify-self: center;
}

nav label {
    display: none;
}

#searchResultsContainer {
    position: absolute;
    top: 60px; /* Position it below the search box */
    left: 250px; /* Position it at the middle horizontally */
    display: none; /* Hide it by default */
    z-index: 1; /* Ensure it appears above other elements */
}

#search:focus ~ #searchResultsContainer {
    display: block; /* Show it when the search box is focused */
}

nav .nav-right .nav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}