.recently-viewed-panel-container {
    width: inherit;
}

.recently-viewed-panel-container .recently-viewed-panel-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.recently-viewed-panel-container .recently-viewed-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: relative;
    width: 100%;
}

.recently-viewed-panel-container .recently-viewed-slider .recently-viewed-panel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.recently-viewed-panel-container .recently-viewed-slider .recently-viewed-panel::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}

.recently-viewed-panel-container .recently-viewed-slider .recently-viewed-panel .item-container {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    scroll-snap-align: start;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button {
    width: 40px;
    height: 40px;
    background: transparent;
    font-weight: bolder;
    color: darkgray;
    border: transparent solid 1px;
    font-size: 23px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: color 2s;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button:hover {
    transition: color 2s;
    color: gray;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button:active {
    transition: color 2s;
    color: black;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button#prevButtonRecentlyViewed {
    left: 10px;
    z-index: 10000;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button#nextButtonRecentlyViewed {
    right: 10px;
    z-index: 10000;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button:disabled {
    transition: color 2s;
    color: transparent;
}

.recently-viewed-panel-container .recently-viewed-slider .scroll-button:disabled:hover {
    color: transparent;
    cursor: default;
}
