<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title th:text="#{app.name} + ' - ' + #{order_pay.pageTitle}"></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <p th:text="#{order_pay.text}"></p>
            <form th::action="'/api/pay/order?lang=' + ${#locale.language} +'&id=' + ${id} " method="post">
                <button type="submit" th:text="#{order_pay.pay}"></button>
            </form>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>