<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headerfiles}"></th:block>
    <title>Owner Dashboard</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/layout :: layout(left_content=${left_content}, content=${content}, right_content=${right_content})}">
    <th:block th:fragment="left_content">
        <p></p>
    </th:block>
    <th:block th:fragment="content">
        <div>
            <a th:href="'/api/logout?lang=' + ${#locale.language}">Logout</a><br>
            <a th:href="'/api/admin/dashboard?lang=' + ${#locale.language}">Admin Dashboard</a><br>
            <a th:href="'/api/owner/add/user/form?lang=' + ${#locale.language}">Add User</a><br>
        </div>
    </th:block>
    <th:block th:fragment="right_content">
        <p></p>
    </th:block>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>