<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<nav>
    <div class="nav-left">
        <a href="/" class="app-name" th:text="#{app.name}">Name of App</a>
    </div>
    <div class="nav-center">
        <a href="/item/all">
            <img src="/images/icons/shop.png" alt="Shop">
        </a>
        <form action="/item/all" method="get" class="search-form">
            <input type="text" id="search" name="search" placeholder="Search" th:value="${search}">
            <button type="submit">
                <img src="/images/icons/search.png" alt="Search">
            </button>
        </form>
    </div>
    <div class="nav-right" th:if="${isLoggedIn}">
        <a href="/user/cart">
            <img src="/images/icons/cart.png" alt="Cart">
        </a>
        <a href="/profile">
            <div class="profile">
                <img th:src="@{'/api/image/user'}" alt="Profile Image" class="profile-image">
                <span th:if="${isLoggedIn}" th:text="${user.username}"></span>
            </div>
        </a>
        <a href="/api/logout">Logout</a>
    </div>
    <div class="nav-right" th:if="${!isLoggedIn}">
        <a href="/api/login/form">Login</a>
    </div>
</nav>
<a href="/api/logout">Logout</a><br>
<a href="/api/admin/dashboard">Admin Dashboard</a><br>
<a href="/api/owner/add/user/form">Add User</a><br>

</body>
</html>